<h1>Campground</h1>
    
    
   <% campground.forEach(function(camp){ %>
       <div>
           <h4><%= camp.name %></h4>
           <img src = '<%= camp.image %>'></img>
       </div>
      <%  }); %>